In [15]:
import math

Slicing

In [1]:
name = "My Name is Abdifatah Muse"

In [2]:
name[0]

'M'

In [3]:
name[0:7]

'My Name'

In [4]:
name[:7]

'My Name'

In [5]:
name[11:]

'Abdifatah Muse'

In [6]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [7]:
len(name)

25

In [8]:
len(mylist)

10

In [9]:
mylist[2:5]

[3, 4, 5]

Formatting

In [10]:
'my number is: '+str(5)

'my number is: 5'

In [11]:
f'my number is: {4}'

'my number is: 4'

In [12]:
f'my number is : {5} and twice that is {5*5}'

'my number is : 5 and twice that is 25'

In [20]:
f'Pi is : {math.pi:.2f}'

'Pi is : 3.14'

Multi lines

In [18]:
mystr = '''long
block of \'text
'''

In [19]:
print(mystr)

long
block of 'text