Sets
you can't modify the set.

In [4]:
mySet = {"A", "b",'c','c'}
mySet

{'A', 'b', 'c'}

In [6]:
mySet = set(('a', 'b','b','c'))
mySet

{'a', 'b', 'c'}

In [7]:
mySet[0]

TypeError: 'set' object is not subscriptable

In [8]:
"a" in mySet

True

In [9]:
"z" in mySet

False

In [10]:
while len(mySet):
    print(mySet.pop())

c
a
b

In [11]:
mySet = {'a',"b", 'test'}

In [12]:
mySet.discard("tes")

In [13]:
mySet

{'a', 'b', 'test'}

Tuples
you can not modify

In [14]:
myTuple = ("a", "b", "c")
myTuple

('a', 'b', 'c')

In [26]:
def returnsMultipleValues():
    return 1,2,34,5

type(returnsMultipleValues())

tuple

In [17]:
# it's same
myTuple = 1,2,3,5
myTuple = (1,2,3,5)

In [27]:
a, b, c,d = returnsMultipleValues()